

<footer class="footer">
    <div class="container">
        <p>&copy; {{year}} Lớp Học | Xây Dựng Các Trang Web{{author}}</p>
        <p>&copy; {{year}} Được Tạo Bởi | Nguyễn Tấn Cường 
            | Trần Gia Hào 
            | Trầm Vĩnh Phát
            | Lê Chí Cường
            | Nguyễn Hậu Duệ{{author}}</p>
        
    </div>
</footer>
